/* working on it... */


/* add bootstrap link */
:root{
  --lavender-light: #C7B9EB;
  --plum-dark:      #6D3D57;
  --gray-medium:    #9F9E9F;
  --taupe-soft:     #C7BDBD;
  --gray-light:     #DEDEDE;

  --bs-primary:   var(--plum-dark);
  --bs-secondary: var(--lavender-light);
  --bs-light:     var(--gray-light);
  --bs-dark:      #2B2329;

  --bs-body-bg:   var(--gray-light);
  --bs-body-color: var(--bs-dark);

  --bs-body-font-family: 'Irish Grover', system-ui, -apple-system, 'Segoe UI', sans-serif;
}



body{
    background-color: var(--bs-body-bg);
    font-family: var(--bs-body-font-family, );
    color: var(--bs-body-color);

}

  .navbar-custom {
  background-color: var(--taupe-soft);/* impoetant*/
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  border-bottom: 2px solid rgba(0,0,0,0.05);
}

.brand-logo-paw {
  height: 60px;
  width: auto;
}

.brand-logo-text {
  height: 40px;
  width: auto;
  margin-left: 0.25rem;
}

.nav-big {
  font-size: 1.45rem;
  font-weight: 600;
  color: #000;
}

.dropdown-toggle::after {
  display: none;
}

.navbar-nav .nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  line-height: 1.1;
}

.adopt-bar{
  background-color: var(--gray-medium);
  color: var(--plum-dark);
  font-weight: 600;
  text-align: center;
}


.adopt-bar:hover {
  background-color: var(--lavender-light);
  color: var(--plum-dark);
}









logo{


}

/* dropdown*/
